# macOS
.DS_Store

# Node / JS
node_modules/
dist/
build/
coverage/

# Env files
.env
.env.*
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors
.vscode/
.idea/


*.log 
*.pid